@font-face {
  font-family: 'HelveticaNeue';
  src: url('~/assets/fonts/HelveticaNeueLTPro-UltLt.woff2') format('woff2');
  font-weight: 100;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('~/assets/fonts/HelveticaNeueLTPro-UltLtIt.woff2') format('woff2');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('~/assets/fonts/HelveticaNeueLTPro-Th.woff2') format('woff2');
  font-weight: 200;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('~/assets/fonts/HelveticaNeueLTPro-ThIt.woff2') format('woff2');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('~/assets/fonts/HelveticaNeueLTPro-Lt.woff2') format('woff2');
  font-weight: 300;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('~/assets/fonts/HelveticaNeueLTPro-LtIt.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('~/assets/fonts/HelveticaNeueLTPro-Roman.woff2') format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('~/assets/fonts/HelveticaNeueLTPro-It.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('~/assets/fonts/HelveticaNeueLTPro-Md.woff2') format('woff2');
  font-weight: 500;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('~/assets/fonts/HelveticaNeueLTPro-MdIt.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('~/assets/fonts/HelveticaNeueLTPro-Bd.woff2') format('woff2');
  font-weight: 700;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('~/assets/fonts/HelveticaNeueLTPro-BdIt.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('~/assets/fonts/HelveticaNeueLTPro-Hv.woff2') format('woff2');
  font-weight: 800;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('~/assets/fonts/HelveticaNeueLTPro-HvIt.woff2') format('woff2');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('~/assets/fonts/HelveticaNeueLTPro-Blk.woff2') format('woff2');
  font-weight: 900;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('~/assets/fonts/HelveticaNeueLTPro-BlkIt.woff2') format('woff2');
  font-weight: 900;
  font-style: italic;
}
