:root {
  /* PRIMARY COLOR | Colors picked with special tool */
  --primary-color-900: hsl(209, 81.6%, 14.9%);
  --primary-color-800: hsl(208.5, 93.7%, 24.7%);
  --primary-color-700: hsl(208.8, 100%, 33.1%); /* Hemelsblauw */
  --primary-color-600: hsl(208.8, 89.2%, 43.5%);
  --primary-color-500: hsl(208.7, 81.4%, 53.7%);
  --primary-color-400: hsl(208.7, 89.9%, 64.9%);
  --primary-color-300: hsl(208.5, 96.8%, 75.7%);
  --primary-color-200: hsl(208.3, 100%, 86.3%);
  --primary-color-100: hsl(210, 100%, 96.5%);
  --primary-color: var(--primary-color-700);
  /* SECONDARY COLOR | Colors picked with special tool */
  --secondary-color-900: hsl(22.7, 75.9%, 42.4%);
  --secondary-color-800: hsl(22.6, 81.3%, 46.1%);
  --secondary-color-700: hsl(22.5, 80.2%, 49.6%);
  --secondary-color-600: hsl(22.5, 84.7%, 53.7%);
  --secondary-color-500: hsl(22.5, 90.4%, 59%); /* Proteus-Eretes oranje */
  --secondary-color-400: hsl(22.4, 94.6%, 63.9%);
  --secondary-color-300: hsl(22.5, 96.2%, 69%);
  --secondary-color-200: hsl(22.4, 98.3%, 76.5%);
  --secondary-color-100: hsl(22.2, 100%, 85.7%);
  --secondary-color: var(--secondary-color-500);
  /* 50(ish) SHADES OF GREY | Colors picked with special tool */
  --grey-color-1000: hsl(0, 0%, 0%);
  --grey-color-900: hsl(214.7, 22.9%, 16.3%);
  --grey-color-800: hsl(215.6, 16.4%, 32.4%);
  --grey-color-700: hsl(215.2, 11.7%, 48.4%);
  --grey-color-600: hsl(214.6, 14.3%, 64.3%);
  --grey-color-500: hsl(207.3, 18%, 76.1%);
  --grey-color-400: hsl(206.7, 20.5%, 82.7%);
  --grey-color-300: hsl(210, 25.8%, 87.8%);
  --grey-color-200: hsl(207.3, 29.7%, 92.7%);
  --grey-color-150: hsl(240, 4%, 95%);
  --grey-color-100: hsl(210, 16.7%, 97.6%);
  --grey-color-000: hsl(0, 0%, 100%);

  --black-color: var(--black-color-1000);
  --white-color: var(--grey-color-000);
  --text-dark-color: var(--grey-color-900);

  // Destructive color
  --destructive-color-900: hsl(9, 50%, 52%);
  --destructive-color-800: hsl(10.6, 51.3%, 46.1%);
  --destructive-color-700: hsl(10.5, 50.2%, 49.6%);
  --destructive-color-600: hsl(10.5, 54.7%, 53.7%);
  --destructive-color-500: hsl(10.5, 60.4%, 59%);
  --destructive-color-400: hsl(10.4, 64.6%, 63.9%);
  --destructive-color-300: hsl(10.5, 66.2%, 69%);
  --destructive-color-200: hsl(10.4, 78.3%, 76.5%);
  --destructive-color-100: hsl(10.2, 70%, 85.7%);

  /* SPECIAL COLORS | TODO: revision, colors are now chosen arbirary */
  --background-color: var(--grey-color-100);
  --transparent-color: transparent;
  --navigation-background: rgba(255, 255, 255, 0.9); // white / 0.9 opacity

  /* CORNER RADIUS */
  --corner-radius-large: 1rem;
  --corner-radius: 0.5rem;
  --corner-radius-small: 0.25rem;
  --inner-corner-radius: 0.5rem;

  /* WIDTH 16px ≃ 1rem */
  --width-full: 100%;
  --width-huge: 64rem; // 1024px
  --width-large: 48rem; //768px;
  --width-medium: 32rem; //512px;
  --width-small: 16rem; //256px;
  --width-tiny: 8rem; //128px;

  --max-width: 90vw; // bound for cards | 90% of viewport width
  --text-max-width: 24rem; // ideal text width

  /* FONT SIZE */
  --title: 2rem; // 32px / 16
  --subtitle: 1.5rem; // 24px / 16
  --header: 1.25rem; // 20px / 16
  --subheader: 1.125rem; // 18px / 16
  --normal: 1rem; // 16px / 16
  --small: 0.875rem; // 14px / 16
  --tiny: 0.75rem; // 12px / 16

  // FONT WEIGHT
  --thicccc: black;
  --thiccc: bolder;
  --thicc: bold;
  --thin: 300;
  --thiner: 100;

  /* BORDER */
  --border: 1px solid var(--grey-color-700);

  /* SPACING */
  --spacing-900: 6rem;
  --spacing-800: 4rem;
  --spacing-700: 3rem;
  --spacing-600: 2rem;
  --spacing-500: 1.5rem;
  --spacing-400: 1rem;
  --spacing-300: 0.75rem;
  --spacing-200: 0.5rem;
  --spacing-100: 0.25rem;
  --spacing-input: var(--spacing-400) var(--spacing-200);

  /* ELEMENT SPECIFICATIONS */
  --background-color: var(--grey-color-150);
  --color: var(--grey-color-900);
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'HelveticaNeue', sans-serif;
  background: var(--background-color);
  color: var(--grey-color-900);
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

a {
  color: var(--color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

blockquote {
  margin: 0;
  border-left: 2px solid var(--grey-color-900);
  padding: var(--padding-small);

  & p {
    margin: 0;
    font-size: var(--subheader);
    font-style: italic;
  }
}

// TABLES
table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
  margin: 0.5rem 0;
  overflow: hidden;
  border-radius: var(--corner-radius-small);

  td,
  th {
    min-width: 1em;
    border: 2px solid var(--grey-color-400);
    padding: 3px 5px;
    vertical-align: top;
    box-sizing: border-box;
    position: relative;
    > * {
      margin-bottom: 0;
    }
  }

  th {
    font-weight: bold;
    text-align: left;
    background-color: var(--grey-color-300);
  }
  .selectedCell:after {
    z-index: 2;
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: var(--primary-color-300);
    opacity: 0.2;
    pointer-events: none;
  }
  .column-resize-handle {
    position: absolute;
    right: -2px;
    top: 0;
    bottom: -2px;
    width: 4px;
    background-color: #adf;
    pointer-events: none;
  }
  p {
    margin: 0.25rem;
    min-height: 1rem;
  }
}
